.header {
  text-align: center;
  padding: 20px;
  background-color: #a87529; 
  color: #fff;
  font-size: 24px; 
}

.container {
  text-align: center;
  padding: 20px;
}

.login-form {
  margin-top: 20px;
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 5px;
  background-color: #f3f3f3; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.login-form h3 {
  font-size: 18px;
  margin-bottom: 10px;
  color: #bda372;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  font-weight: bold;
  color: #ccc998; 
}

.form-control {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-top: 5px;
}

.btn-primary {
  background-color: #b69f6d; 
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btn-primary:hover {
  background-color: #f3d966; 
}

.forgot-password a {
  color: #bd9b3e; 
  transition: color 0.3s;
}

.forgot-password a:hover {
  color: #bd9b3e;
}
